body {
  background-color: rgb(169, 189, 165)
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.portfolio {
  color: rgb(152, 84, 16);
  font-family: "Libre Baskerville", serif;
  text-align: center;

}
